@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/* For Mobile Screen START */
img{
    width:100%;
}
body{
    max-width: 90%;
    margin: auto;
}
main{
    padding:0 1rem 0;
}

/* Header CSS START */
header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
header > button, nav{
    display: none;
}
logo{
    display: flex;
    align-items: center;
}
logo > img, header > img{
    width: 52.71px; height: 52.71px;
}
logo > h2{
    align-self: center;   
    font-family: 'Poppins', sans-serif;;
    color: #404347;
    font-weight: 700;
    font-size: 2rem;
}
/* Header CSS END */

/* Container-1 CSS START */
.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.container-1 > h1{
    margin: 0 0 2rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 650;
    font-size: 1.9rem;
    line-height: 1.5;
}
.container-1 > h2{
    margin: 0 0 2rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #858A8F;
}
.middle-button > button{
    border: none;
    border-radius: 0.25rem;
    width: 7rem;
    height: 3rem;
    text-align: center;
    display: inline-block;
    padding: 0.2rem 0.8rem;
    margin: 0.25rem 0.125rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
}
.middle-button > button:first-of-type{
    background-color: #0176FF;
    color: white;
    margin-right: 1rem;
}
.middle-button > button:nth-child(2){
    background-color: #E5F1FF;
    color: #0176FF;
}
.container-1 >img{
    max-width: 90%;
    margin-top: 2rem;
    object-fit: contain;
    box-shadow: 0 35px 35px 0px rgba(184, 180, 180, 0.251);
}
/* Container-1 CSS END */

/* Container-2 CSS START */
.container-2{
    display: flex;
    flex-direction: column;
}
.container-2 > h1{
    margin: 0 0 2rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #858A8F;
    padding: 0 0.5rem 0;
}
.company{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0.5rem 0;
}
.company > img{
    max-width: 5.15rem;
    margin-bottom: 1rem;
    object-fit: contain;
}
/* Container-2 CSS END */

/* Container-3 CSS END */

.container-3{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.description-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.description-1 > h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.description-1 > h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #858A8F;
    line-height: 1.5;
}
.description-1 > button{
    border: none;
    border-radius: 0.25rem;
    width: 7rem;
    height: 3rem;
    text-align: center;
    display: inline-block;
    padding: 0.2rem 0.8rem;
    margin: 0.25rem 0.125rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    background-color: #0176FF;
    color: white;
    margin-right: 1rem;
}
.image-man{
    height: 90vw;
    position: relative;
}
.image-man > img:nth-child(1){
    width: 57%;
    position: absolute;
    z-index: 1;
    top:0%;
    right:46%;
}
.image-man > img:nth-child(2){
    width: 57%;
    position: absolute;
    z-index: 1;
    top: 27%;
    left: 43%;    
}
.image-man > img:nth-child(3){
    width: 80%;
    max-width: 37.875rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    top:11%;
    left: 10%;
    box-shadow: 0 50px 50px 0px rgba(184, 180, 180, 0.251);
}
.image-man > img:nth-child(4){
    width: 11%;
    position: absolute;
    z-index:3;
    top: 16%;
    left: 15%;
}
.image-man > img:nth-child(5){
    width: 68%;
    height: 30%;
    position: absolute;
    z-index: 3;
    top: 52%;
    right: 40%;
}
.image-man > img:nth-child(6){
    width: 11%;
    position: absolute;
    z-index: 4;
    top: 55.5%;
    left: 3%;  
}
.noti-text{
    position: absolute;
    z-index: 4;
    top: 53.5%;
    left: 19%;  
}
.noti-text > h2{
    margin-bottom: 0.2rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.25rem;
    color: #858A8F;
    line-height: 1;
}
.noti-text > h1{
    margin-top: 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.45rem;
    line-height: 1.4;
}
/* Container-3 CSS END */

/* Container-4 CSS START */
.container-4{
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}
.description-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.description-2 > h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.description-2 > h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #858A8F;
    line-height: 1.5;
}
.description-2 > button{
    border: none;
    border-radius: 0.25rem;
    width: 7rem;
    height: 3rem;
    text-align: center;
    display: inline-block;
    padding: 0.2rem 0.8rem;
    margin: 0.25rem 0.125rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    background-color: #0176FF;
    color: white;
    margin-right: 1rem;
}
.image-man2{
    height: 90vw;
    position: relative;
}
.image-man2 > img:nth-child(1){
    width: 45%;
    position: absolute;
    z-index: 1;
    top:2%;
    right:44%;
}
.image-man2 > img:nth-child(2){
    width: 40.5%;
    position: absolute;
    z-index: 1;
    top: 48%;
    left: 62%;    
}
.image-man2 > img:nth-child(3){
    width: 80%;
    max-width: 37.875rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    top:11%;
    left: 10%;
    box-shadow: 0 50px 50px 0px rgba(184, 180, 180, 0.251);
}
.image-man2 > img:nth-child(4){
    width: 66%;
    height: 28%;
    position: absolute;
    z-index: 3;
    top: 51%;
    left: 40%;
}
.image-man2 > img:nth-child(5){
    width: 11%;
    position: absolute;
    z-index: 4;
    top: 54%;
    left: 50.5%;  
}
.noti-text2{
    position: absolute;
    z-index: 4;
    top: 53%;
    left: 66%;  
}
.noti-text2 > h2{
    margin-bottom: 0.2rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.25rem;
    color: #858A8F;
    line-height: 1;
}
.noti-text2 > h1{
    margin-top: 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.45rem;
    line-height: 1.4;
}
/* Container-4 CSS END */

/* Footer CSS START */
footer{
    padding: 0 1rem 0;
    display: flex;
    flex-direction: column;
}
.footer-list{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    flex-direction: column;
}
.social > p{
    margin: 0 0 1.5rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #858A8F;
    line-height: 1.5;
}
.social > nav{
    margin: 0;
    display: flex;
    gap: clamp(1.5rem, 4vw, 2rem)
}
.social > nav > img{
    width: 3.125rem;
    height: 3.125rem;
}
.details{
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;
}
.home, .page, .blog, .portfolio{
    display: flex;
    flex-direction: column;
}
.home > h1, .page > h1, .blog > h1, .portfolio > h1 {
    margin: 1rem 0 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

.home > h2, .page > h2, .blog > h2, .portfolio > h2 {
    margin: 0 0 1.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    color: #858A8F;
}
copyright{
    margin: 2rem 0 2rem;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #858A8F;
    line-height: 1.5;
} 
/* Footer CSS END */

.sidenav:hover::before {
    opacity:0.2;
}
.sidenav::before {
    height: 100vh;
    margin-left: 250px;
    display: none;
    position: absolute;
    z-index: -1;
    top:0;
    content: "";
    opacity:0;
    background-color: blue;
}
.sidenav {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1050;
    padding-top: 60px;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
}
.sidenav a {
    text-align: center;  
    padding-bottom: 8px;
    padding-top: 8px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav button{
    background-color: #0176FF;
    color: white;
    border: none;
    border-radius: 0.25rem;
    display: inline-block;
    width: 8.25rem;
    height: 2.75rem;
    padding: 0.2rem 1rem;
    margin: 0.25rem 0.125rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
h2{
    padding:0;
    margin:0;
}

/* For Mobile Screen END */
@media (min-width:370px){
    .noti-text > h2, .noti-text2 > h2{
        margin-bottom: 0.3rem;
        font-size: 0.4rem;
    }
    .noti-text > h1, .noti-text2 > h1{
        font-size: 0.6rem;
    }
}
/* Responsive CSS START */
@media (min-width:420px) {
    .company{
        gap: 1rem;
    }
    .container-2 > h1{
        padding: 0 1.8rem 0;
    }
    .noti-text > h2, .noti-text2 > h2{
        font-size: 0.45rem;
    }
    .noti-text > h1, .noti-text2 > h1{
        font-size: 0.65rem;
    }
}
@media (min-width:470px){
    .noti-text > h2, .noti-text2 > h2{
        font-size: 0.55rem;
    }
    .noti-text > h1, .noti-text2 > h1{
        font-size: 0.75rem;
    }
}

@media (min-width:550px) {
    .container-2 > h1{
        padding: 0 2rem 0;
    }
    .container-1 > h1{
        font-size: 2.5rem;
    }
    .container-1 > h2{
        font-size: 1.1rem;
    }
    .middle-button > button{
        width: 8.5rem;
        font-size: 1rem;
    }
    .container-2 > h1{
        font-size: 1.2rem;
    }
    .company > img{
        max-width: 6.25rem;
    }
    .description-1 > h2{
        padding: 0 3rem 0;
    }
    .noti-text > h2,.noti-text2 > h2{
        font-size: 0.65rem;
    }
    .noti-text > h1, .noti-text2 > h1{
        font-size: 0.85rem;
    }
}
@media (min-width:650px){
    .image-man > img:nth-child(5){
        top: 55%;
        right: 39%;
    }
    .image-man > img:nth-child(6){
        top: 58%;
        left: 3%;  
    }
    .noti-text{
        top: 56.5%;
        left: 19%;  
    }
    .image-man2 > img:nth-child(2){
        width: 40.5%;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 62%;    
    }
    .image-man2 > img:nth-child(4){
        top: 53.5%;
        left: 40%;
    }
    .image-man2 > img:nth-child(5){
        top: 56%;
        left: 50.5%;  
    }
    .noti-text2{
        top: 54%;
        left: 66%;  
    }
    .noti-text > h2, .noti-text2 > h2{
        font-size: 0.8rem;
    }
    .noti-text > h1, .noti-text2 > h1{
        font-size: 1rem;
    }
}
@media (min-width:905px) {
    header{
        flex-direction: row;
        margin-top: 1rem;
    }
    .sidenav{
        display: none;
    }
    header > img{
        display: none !important;
    }
    nav, .item{
        display: flex;
        align-items: center;
        font-family: 'Inter', sans-serif;
        color: #858A8F;
        font-weight: 600;
        font-size: 1.25rem;
    }
    nav{
        gap:1rem;
    }
    .item > img{  
        width: 0.8rem; height: 0.8rem;
        margin:0 0.6rem 0;
    }
    header > button{
        background-color: #0176FF;
        color: white;
        border: none;
        border-radius: 0.25rem;
        display: inline-block;
        width: 11.25rem;
        height: 3.5rem;
        padding: 0.2rem 1rem;
        margin: 0.25rem 0.125rem;
        text-align: center;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        font-size: 1.25rem;
    }

    .container-1{
        margin-top: 4.25rem;
        margin-bottom: 8rem;
    }
    .container-1 > h1{
        font-size: 5rem;
        line-height: 1.25;
    }
    .container-1 > h2{
        font-size: 1.25rem;
        line-height: 1.5;
    }
    .middle-button > button{
        width: 13.25rem;
        height: 4.125rem;
        font-size: 1.25rem;
    }

    .container-2 > h1{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .company > img{
        max-width: clamp(8.5rem, 1vw, 11.25rem);
    }  
    
    .container-3{
        flex-direction: row;
        margin-bottom: 5rem;
    }    
    .description-1{
        margin-left: 1rem;
        margin-top: 220px ;
        align-items: flex-start;
    }    
    .description-1 > h1 {
        margin: 0 0 1rem;
        text-align: left;
        font-size: 2.2rem;
    }    
    .description-1 > h2 {
        padding: 0;
        margin: 0 0 2rem;
        text-align: left;
        font-size: 0.75rem;
        line-height: 1.65;
    }    
    .description-1 > button{
        width: 9rem;
        height: 3.5rem;
        padding: 1rem 1rem;
        font-weight: 600;
        font-size: 1.15rem;
        margin: 2px 2px;
    }
    .image-man{
        flex: 1 ;
        height: auto;
    }
    .image-man > img:nth-child(1){
        width: 51.5%;
        top: 16.75%;
        left: 4.5%;
    }
    .image-man > img:nth-child(2){
        width: 44%;
        top: 45%;
        left: 51%;
    }
    .image-man > img:nth-child(3){
        width: 80%;
        top: 26%;
        left: 16%;
    }
    .image-man > img:nth-child(4){
        width: 9%;
        top: 30%;
        left: 21.5%;
    }
    .image-man > img:nth-child(5){
        width: 61%;
        height: 25%;
        top: 61.5%;
        left: 0.5%;
    }
    .image-man > img:nth-child(6){
        width: 9%;
        top: 64.5%;
        left: 10.2%; 
    }
    .noti-text{
        top: 62%;
        left: 22%;  
    }
    .noti-text > h2{
        font-size: 0.8rem;
    }
    .noti-text > h1{
        font-size: 1rem;
        line-height: 1.4;
    }    

    .container-4{
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 5rem;
    }    
    .description-2{
        margin-left: 1rem;
        margin-top: 180px ;
        align-items: flex-start;
    }    
    .description-2 > h1 {
        margin: 0 0 1rem;
        text-align: left;
        font-size: 2.25rem;
    }    
    .description-2 > h2 {
        padding: 0;
        margin: 0 0 2rem;
        text-align: left;
        font-size: 0.9rem;
        line-height: 1.75;
    }    
    .description-2 > button{
        width: 212px;
        height: 66px;
        padding: 16px 32px;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 4px 2px;
    }
    .image-man2{
        flex: 1 ;
        height: auto;
        position: relative;
    }
    .image-man2 > img:nth-child(1){
        width: 45%;
        top: 19%;
        left: 17%;
    }
    .image-man2 > img:nth-child(2){
        width: 42%;
        top: 54%;
        left: 67.5%;    
    }
    .image-man2 > img:nth-child(3){
        width: 80%;
        top: 26%;
        left: 16%;
    }
    .image-man2 > img:nth-child(4){
        width: 68%;
        height: 23%;
        top: 57.5%;
        left: 44%;
    }
    .image-man2 > img:nth-child(5){
        width: 10%;
        top: 65%;
        left: 9%;  
    }
    .noti-text2{
        top: 62%;
        left: 22%;  
    }
    .noti-text2 > h2{
        margin-bottom: 7px;
        font-size: 0.8rem;
    }
    .noti-text2 > h1{
        font-size: 1rem;
        line-height: 1.4;
    }    

    
    .social > p{
        font-size: 1.25rem;
    } 
    .details{
        margin-top: 1rem;
        flex-direction: row;
    }
    .home > h1, .page > h1, .blog > h1, .portfolio > h1 {
        font-size: 1.5rem;
    }
    
    .home > h2, .page > h2, .blog > h2, .portfolio > h2 {
        font-size: 1.25rem;
    }
    copyright{
        font-size: 1.125rem;
    } 
}
@media (min-width:1024px){
    .description-1{
        margin-left: 1rem;
        margin-top: 220px ;
        flex-direction: column;
        align-items: flex-start;
    }    
    .description-1 > h1 {
        margin: 0 0 2rem;
        text-align: left;
        font-size: 2.25rem;
    }    
    .description-1 > h2 {
        padding: 0;
        margin: 0 0 2rem;
        text-align: left;
        font-size: 0.9rem;
        line-height: 1.75;
    }    
    .description-1 > button{
        width: 212px;
        height: 66px;
        padding: 16px 32px;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 4px 2px;
    }
    .image-man{
        flex: 1 ;
        height: auto;
        position: relative;
    }
    .image-man > img:nth-child(1){
        width: 56%;
        position: absolute;
        z-index: 1;
        top: 15.2%;
        left: 4%;
    }
    .image-man > img:nth-child(2){
        width: 50%;
        position: absolute;
        z-index: 1;
        top: 49%;
        left: 54.5%;    
    }
    .image-man > img:nth-child(3){
        width: 80%;
        border-radius: 0.5rem;
        z-index: 2;
        top: 26%;
        left: 16%;
    }
    .image-man > img:nth-child(4){
        width: 10%;
        position: absolute;
        z-index:3;
        top: 30.5%;
        left: 21.5%;
    }
    .image-man > img:nth-child(5){
        width: 70%;
        height: 29%;
        position: absolute;
        z-index: 3;
        top: 68%;
        left: -2.5%;
    }
    .image-man > img:nth-child(6){
        width: 10%;
        position: absolute;
        z-index: 4;
        top: 71%;
        left: 9.5%;  
    }
    .noti-text{
        position: absolute;
        z-index: 4;
        top: 69%;
        left: 25%;  
    }
    .noti-text > h2{
        margin-bottom: 7px;
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        color: #858A8F;
    }
    .noti-text > h1{
        margin-top: 0;
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.4;
    }  

    
    .container-4{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-bottom: 5rem;
    }    
    .description-2{
        margin-left: 1rem;
        margin-top: 180px ;
        flex-direction: column;
        align-items: flex-start;
    }    
    .description-2 > h1 {
        margin: 0 0 1rem;
        text-align: left;
        font-size: 2.25rem;
    }    
    .description-2 > h2 {
        padding: 0;
        margin: 0 0 2rem;
        text-align: left;
        font-size: 0.9rem;
        line-height: 1.75;
    }    
    .description-2 > button{
        width: 212px;
        height: 66px;
        padding: 16px 32px;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 4px 2px;
    }
    .image-man2{
        flex: 1 ;
        height: auto;
        position: relative;
    }
    .image-man2 > img:nth-child(1){
        width: 45%;
        position: absolute;
        z-index: 1;
        top: 16%;
        left: 4%;
    }
    .image-man2 > img:nth-child(2){
        width: 42%;
        position: absolute;
        z-index: 1;
        top: 65%;
        left: 54.5%;    
    }
    .image-man2 > img:nth-child(3){
        width: 80%;
        border-radius: 0.5rem;
        z-index: 2;
        top: 26%;
        left: 3%;
    }
    .image-man2 > img:nth-child(4){
        width: 67%;
        height: 31%;
        position: absolute;
        z-index: 3;
        top: 68%;
        left: 33%;
    }
    .image-man2 > img:nth-child(5){
        width: 10%;
        position: absolute;
        z-index: 4;
        top: 72%;
        left: 44%;  
    }
    .noti-text2{
        position: absolute;
        z-index: 4;
        top: 69%;
        left: 57%;  
    }
    .noti-text2 > h2{
        margin-bottom: 7px;
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 0.8rem;
        color: #858A8F;
    }
    .noti-text2 > h1{
        margin-top: 0;
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.4;
    }    
}
@media (min-width:1100px){
    .company{
        justify-content: space-between;
        padding: 0 8.5rem 0;
    }
    .container-4{
        margin-bottom: 10rem;
    }
    .footer-list{
        flex-direction: row;
        justify-content: space-between;
    }
    .details{
        margin-left: 8.75rem;
        margin-right: 3rem;
    }
}
@media (min-width:1440px){
    .description-1{
        margin-left: 1rem;
        margin-top: 20rem;
        flex-direction: column;
        align-items: flex-start;
    }    
    .description-1 > h1 {
        margin: 0 0 2rem;
        text-align: left;
        font-size: 3.75rem;
    }    
    .description-1 > h2 {
        padding: 0;
        margin: 0 0 2rem;
        text-align: left;
        font-size: 1.25rem;
        line-height: 1.75;
    }    
    .description-1 > button{
        width: 212px;
        height: 66px;
        padding: 16px 32px;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 4px 2px;
    }
    .image-man{
        flex: 1 ;
        height: auto;
        position: relative;
    }
    .image-man > img:nth-child(1){
        width: 26.5rem;
        top: 15.2%;
        left: 3.5%;
    }
    .image-man > img:nth-child(2){
        width: 22.9rem;
        top: 49.5%;
        left: 57.5%;    
    }
    .image-man > img:nth-child(3){
        width: 37.75rem;
        border-radius: 0.5rem;
        z-index: 2;
        top: 26%;
        left: 16%;
    }
    .image-man > img:nth-child(4){
        width: 4.8rem;
        top: 30.5%;
        left: 22%;
    }
    .image-man > img:nth-child(5){
        width: 67%;
        height: 29%;
        top: 69.5%;
        left: -0.5%;
    }
    .image-man > img:nth-child(6){
        width: 4.8rem;
        top: 73%;
        left: 9.5%; 
    }
    .noti-text{
        top: 71%;
        left: 24.5%; 
    }
    .noti-text > h2{
        margin-bottom: 7px;
        font-size: 1.125rem;
    }
    .noti-text > h1{
        margin-top: 0;
        font-size: 1.25rem;
        line-height: 1.4;
    }  

    
    .container-4{
        margin-bottom: 13rem;
    }    
    .description-2{
        margin-left: 1rem;
        margin-top: 20rem ;
    }    
    .description-2 > h1 {
        margin-bottom:2rem;
        text-align: left;
        font-size: 3.75rem;
    }    
    .description-2 > h2 {
        padding: 0;
        margin-bottom:2rem;
        font-size: 1.25rem;
        line-height: 1.75;
    }    
    .description-2 > button{
        width: 212px;
        height: 66px;
        padding: 16px 32px;
        font-size: 1.25rem;
        margin: 4px 2px;
    }
    .image-man2{
        flex: 1 ;
        height: auto;
    }
    .image-man2 > img:nth-child(1){
        width: 22rem;
        top: 21%;
        left: 4%;
    }
    .image-man2 > img:nth-child(2){
        width: 19.68rem;
        top: 67%;
        left: 55%;
    }
    .image-man2 > img:nth-child(3){
        width: 37.75rem;
        top: 31%;
        left: 3%;
    }
    .image-man2 > img:nth-child(4){
        width: 67%;
        height: 29%;
        top: 70.5%;
        left: 33%;
    }
    .image-man2 > img:nth-child(5){
        width: 4.8rem;
        top: 74%;
        left: 43.5%; 
    }
    .noti-text2{
        top: 72%;
        left: 59.5%; 
    }
    .noti-text2 > h2{
        margin-bottom: 7px;
        font-size: 1.125rem;
    }
    .noti-text2 > h1{
        margin-top: 0;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    copyright{
        margin-top: 4rem;
    }    
}